.login {
  background: linear-gradient(90.21deg, #ff5151 -5.91%, #a1a1a1 111.58%);
  height: 400px;
  border-radius: 20px; 
  border: 1px solid white;
}
.login h1 {
  text-align: center;
  font-family: sans-serif;
  margin-top: 20px;
  text-decoration: underline;
}
.login h2 {
  text-align: center;
  font-size: medium;
  color: red;
  margin-top: 12px;
  
}
.login a {
  color: white;
  
}


.login form input, .login form textarea {
  width: 380px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 5px 20px 8px 20px;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.login form input:focus, .login form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.login form input::placeholder, .login form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.login form input:focus::placeholder, .login form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.login form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 10px;
  border-radius: 5px;
  position: relative;
  transition: 0.3s ease-in-out;
  margin-left: 20px;
  width: 100%;
}
.login form button span {
  z-index: 1;
  position: relative;
}
.login form button:hover {
  color: #fff;
}
.login form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.login form button:hover::before {
  width: 100%;
}